name: Build

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 22
        uses: actions/setup-java@v4
        with:
          java-version: '22'
          distribution: 'temurin'
          cache: 'gradle'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build
        env:
          GRADLE_OPTS: --enable-native-access=ALL-UNNAMED
        run: ./gradlew build
      - name: Check
        env:
          GRADLE_OPTS: --enable-native-access=ALL-UNNAMED
        run: ./gradlew check
